.main {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bgImage {
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: white;
}

.textContent {
  flex: 1;
  color: black;
}

.heroTitle {
  font-size: 3rem;
}

.highlight {
  color: #92239f;
  font-weight: 600;
}

.contactOptions {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.call,
.onlieSchedule {
  text-align: center;
  margin-top: 1.5rem;
}

.callDetails {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: center;
  font-size: 1.5em;
}

.divider {
  height: 100px;
  width: 1px;
  background-color: white;
  margin: 0 2rem;
}

.infoSection {
  padding: 4rem 2rem;
  color: #333;
}

.infoImage {
  /* width: auto;
  height: auto; */
  object-fit: cover;
  border-radius: 5%;
}

.accordionSide p {
  font-size: 1.1rem;
  margin: 0.5rem auto 0;
  line-height: 1.5;
  color: #7f7f7f;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.imageSide {
  flex: 0 0 40%;
  min-width: 280px;
}

.accordionSide {
  flex: 1; /* Text takes remaining ~65% */
  min-width: 340px;
}

.accordionSide h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: black;
}


/* Responsive Styles */
@media (min-width: 701px) and (max-width: 1024px) {
  .contentWrapper {
    flex-direction: column;
    gap: 1.2rem;
    align-items: stretch;
  }
  .infoSection {
    padding: 2rem;
  }
  .infoImage {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hero {
    height: 100vh;
    min-height: 180px;
    padding: 0;
  }
  .overlay {
    padding: 2rem;
    font-size: 1rem;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }
  .contactOptions {
    flex-direction: column;
    gap: 0.3rem;
    align-items: stretch;
    margin-top: 5px;
  }
  .call,
  .onlieSchedule {
    margin-top: 1rem;
    text-align: left;
  }
  .divider {
    display: none;
  }
  .callDetails {
    font-size: 1.1em;
  }
  .callDetails img {
    width: 30px;
    height: 30px;
  }
  .infoSection {
    padding: 1.5rem;
  }
  .infoImage {
    width: 100%;
    height: auto;
  }
  .textContent {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  .accordionSide h4 {
    font-size: 1rem;
  }
  .imageSide,
  .accordionSide {
    flex: unset;
    min-width: unset;
    width: 100%;
  }
}
