.main {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bgImage {
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: white;
}

.textContent {
  flex: 1;
  color: black;
}

.heroTitle {
  font-size: 3rem;
}

.infoSection {
  padding: 4rem 2rem;
  background-color: #fff;
  color: #333;
}

.sectionHeader {
  margin-bottom: 3rem;
}

.sectionHeader h1 {
  font-size: 3rem;
  color: black;
}

.sectionHeader p {
  font-size: 1.1rem;
  margin: 0.5rem auto 0;
  line-height: 1.5;
  color: #7f7f7f;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.imageSide,
.accordionSide {
  flex: 1;
  min-width: 300px;
}

/* Responsive Styles */
@media (min-width: 701px) and (max-width: 1024px) {
  .contentWrapper {
    flex-direction: column;
    gap: 1.2rem;
    align-items: stretch;
  }
  .infoSection {
    padding: 2rem;
  }
  .infoImage {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hero {
    height: 80vh;
    min-height: 180px;
    padding: 0;
  }
  .overlay {
    padding: 2rem;
    font-size: 1rem;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }
  .infoSection {
    padding: 1.5rem;
  }
  .sectionHeader h1 {
    font-size: 2.5em;
  }
  .infoImage {
    width: 100%;
    height: auto;
  }
  .textContent {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  .accordionSide h4 {
    font-size: 1rem;
  }
  .imageSide,
  .accordionSide {
    flex: unset;
    min-width: unset;
    width: 100%;
  }
}
