.locationsSection {
  padding: 4rem 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #eee;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.info {
  padding: 1.2rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item, .link {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  border-bottom: 1px solid #eee;
}

.item:last-child {
  border-bottom: none;
}

.icon {
  flex-shrink: 0;
}

.underlineText {
  background-image: linear-gradient(black, black);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .underlineText {
  background-size: 100% 2px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .imageWrapper{
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .card {
    padding: 0;
  }
}
